@charset "UTF-8";





/*.conteiner {
	margin-top:350px;
	width:100%;
	border: 1px solid red;
}



form {
		border: 1px solid black;
		display:flex;
		justify-content: center;
}

.btns {
	display: block;
	text-align: right;
}
*/