@charset "UTF-8";

.table {
	overflow-x: auto;
}

table {
	min-width: 48rem;
}

.table__no, .table__views, .table__hit {
	width: 6.25rem;
	min-width: 6.25rem;
}

.table__title {
	min-width: 18.75rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table__user {
	width: 12.5rem;
	min-width: 12.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table__date {
	min-width: 12.5rem;
	width: 12.5rem;
}